<template>
  <q-page class="flex flex-center">
    <div class="q-pa-md">
      <div class="row q-mb-md">
        <div class="col">
          <p>Quantidade por latas de tinta:</p>

          <q-chip icon="format_color_fill" v-for="(index, item) in paintCans" :key="index" :index="index">
            {{ paintCans[item].label }}: {{ paintCans[item].quantity }}
          </q-chip>

        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Quantidade de paredes:
            <q-chip icon="straighten"> {{ squareMeters }}m2</q-chip>
            <q-chip icon="door_front">{{ squareMetersDoors }}m2</q-chip>
            <q-chip icon="window">{{ squareMetersWindows }}m2</q-chip>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col m-5">
          <q-input
            label="Quantidade de Paredes"
            v-model.number="wallAmount"
            type="number"
            filled
            min="1"
            max="4"
            step="1"
          />
        </div>
      </div>
      <Wall v-for="index in wallAmount" :key="index" :index="index" v-on:updateSquareMeters="updateSquareMeters" />
    </div>
  </q-page>
</template>

<script>

import Wall from 'components/Wall.vue'

import { defineComponent } from 'vue';

export default defineComponent({
  name: 'PageIndex',
  components: {
    Wall
  },
  data() {
    return {
      x: 0,
      paintedAreaPerLiter: 5,
      quantityPaintCansSquareMeters: 0,
      paintCans: [
        {
          label: '18L',
          value: 18,
          quantity: 0
        },
        {
          label: '3,6L',
          value: 3.6,
          quantity: 0
        },
        {
          label: '2,5L',
          value: 2.5,
          quantity: 0
        },
        {
          label: '0,5L',
          value: 0.5,
          quantity: 0
        },
      ],
      wallAmount: 1,
      squareMeters: 1,
      squareMetersDoors: 0,
      squareMetersWindows: 0,
      wallsSquareMeters: []
    }
  },
  watch: {
    wallAmount: {
      handler(val, oldVal) {
        //this.calculateSquareMeters()
      }
    },
    wallsSquareMeters: {
      handler(val, oldVal) {
        //this.calculateSquareMeters()
      },
      deep: true
    }
  },
  methods: {
    updateSquareMeters(value) {

      this.wallsSquareMeters[value.index] = value
      this.calculateSquareMeters()

    },
    calculateSquareMeters() {

      var squareMeters = 0
      var squareMetersDoors = 0
      var squareMetersWindows = 0

      this.wallsSquareMeters.forEach((value) => {

        squareMeters += parseFloat(value.squareMeters)
        squareMetersDoors += parseFloat(value.squareMetersDoors)
        squareMetersWindows += parseFloat(value.squareMetersWindows)

      })

      this.squareMeters = squareMeters.toFixed(2)
      this.squareMetersDoors = squareMetersDoors.toFixed(2)
      this.squareMetersWindows = squareMetersWindows.toFixed(2)

      this.calculatePaintCans()

    },
    calculatePaintCans() {

      this.quantityPaintCansSquareMeters = 0
      let squareMetersForPaint = parseFloat(this.squareMeters) - (parseFloat(this.squareMetersDoors) + parseFloat(this.squareMetersWindows))

      this.resetPaintCanQuantity()
      this.addPaintCan(squareMetersForPaint)

    },
    resetPaintCanQuantity() {

      this.quantityPaintCansSquareMeters = 0
      this.paintCans.forEach(item => {

        item.quantity = 0

      })

    },
    addPaintCan(squareMetersForPaint) {

console.log('################## start ##################')

      let indexPaintCan = 0
      while (squareMetersForPaint >= this.quantityPaintCansSquareMeters
            && indexPaintCan <= (this.paintCans.length - 1)) {

console.log('############## while ##############')

        let paintCanSquareMeter = this.paintCans[indexPaintCan].value * this.paintedAreaPerLiter
console.log('paintCanSquareMeter', paintCanSquareMeter)

        if (squareMetersForPaint >= (this.quantityPaintCansSquareMeters + paintCanSquareMeter)) {

          this.quantityPaintCansSquareMeters += paintCanSquareMeter
          this.paintCans[indexPaintCan].quantity += 1

        }

        indexPaintCan++

      }

      if (squareMetersForPaint > this.quantityPaintCansSquareMeters) {

        let paintCanSquareMeter = this.paintCans[this.paintCans.length - 1].value * this.paintedAreaPerLiter
        this.quantityPaintCansSquareMeters += paintCanSquareMeter
        this.paintCans[this.paintCans.length - 1].quantity += 1

      }

    }
  }
})
</script>
