<template>
  <q-icon name="door_front" />
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'Door',
  props: {
    index: {
      type: Number
    }
  },
  data() {
    return {
      dimensions: {
        width: 1.9,
        height: .8
      }
    }
  },
  mounted() {
    this.sendDoor()
  },
  methods: {
    sendDoor() {
      this.$emit('updateAmountDoors', {
        index: this.index,
        squareMeters: this.dimensions.width * this.dimensions.height
      })
    }
  }
})
</script>
