<template>
  <div>
    <div class="q-pa-md">
      <div class="row">
        <div class="col">
          <p>Area total da parede:
            <q-chip icon="straighten">{{ squareMeters }}m2</q-chip>
            <q-chip icon="door_front">{{ squareMetersDoors }}m2</q-chip>
            <q-chip icon="window">{{ squareMetersWindows }}m2</q-chip>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col m-5">
          <q-input
            label="Largura"
            v-model.number="dimensions.width"
            type="number"
            filled
            min="1"
            step="1"
          >
            <template v-slot:prepend>
              <q-icon name="straighten" />
            </template>
          </q-input>
        </div>
        <div class="col">
          <q-input
            label="Altura"
            v-model.number="dimensions.height"
            type="number"
            filled
            min="1"
            step="1"
          >
            <template v-slot:prepend>
              <q-icon name="straighten" />
            </template>
          </q-input>
        </div>
      </div>
      <div class="row">
        <div class="col m-5">
          <q-input
            label="Quantidade de Portas"
            v-model.number="amountDoors"
            type="number"
            filled
            min="0"
            step="1"
          >
            <template v-slot:prepend>
              <q-icon name="door_front" />
            </template>
          </q-input>
        </div>
        <div class="col m-5">
          <q-input
            label="Quantidade de Janelas"
            v-model.number="amountWindows"
            type="number"
            filled
            min="0"
            step="1"
          >
            <template v-slot:prepend>
              <q-icon name="window" />
            </template>
          </q-input>
        </div>
      </div>
      <div class="row">
        <div class="col m-5">
          <Door v-for="index in amountDoors" :key="index" :index="index" v-on:updateAmountDoors="updateAmountDoors" />
        </div>
        <div class="col m-5">
          <Window v-for="index in amountWindows" :key="index" :index="index" v-on:updateAmountWindows="updateAmountWindows" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import Door from 'components/Door.vue'
import Window from 'components/Window.vue'

import { defineComponent } from 'vue'

export default defineComponent({
  name: 'Wall',
  components: {
    Door,
    Window
  },
  props: {
    index: {
      type: Number
    }
  },
  data() {
    return {
      squareMeters: 1,
      squareMetersDoors: 0,
      squareMetersWindows: 0,
      amountWindows: 0,
      dimensions: {
        width: 1,
        height: 1
      },
      squareMetersLimits: {
        min: 1,
        max: 15
      },
      amountDoors: 0,
      doors: [],
      windows: []
    }
  },
  watch: {
    dimensions: {
      handler(val, oldVal) {
        this.calculateSquareMetersAndLimits()
      },
      deep: true
    }
  },
  mounted() {
    this.calculateSquareMetersAndLimits()
  },
  methods: {
    calculateSquareMetersAndLimits() {

      this.squareMeters = this.getSquareMeters()

      this.verifyLimit()

      this.emitWall()

    },
    getSquareMeters() {

      return (this.dimensions.width * this.dimensions.height).toFixed(2)

    },
    verifyLimit() {

      if (this.squareMeters > this.squareMetersLimits.max) {

        this.$q.notify({
          message: 'Area maxima de 15m2',
          color: 'red'
        })

      }

    },
    emitWall() {

      this.$emit('updateSquareMeters', {
        index: this.index,
        squareMeters: this.squareMeters,
        squareMetersDoors: this.squareMetersDoors,
        squareMetersWindows: this.squareMetersWindows
      })

    },
    updateAmountDoors(value) {

      this.doors[value.index] = value.squareMeters

      this.calculateSquareMeterOfDoors()

    },
    updateAmountWindows(value) {

      this.windows[value.index] = value.squareMeters

      this.calculateSquareMeterOfWindows()

    },
    calculateSquareMeterOfDoors() {

      let squareMeters = this.doors.reduce((p, c) => parseFloat(p) + parseFloat(c))
      this.squareMetersDoors = (parseFloat(squareMeters)).toFixed(2)

      this.emitWall()

    },
    calculateSquareMeterOfWindows() {

      let squareMeters = this.windows.reduce((p, c) => parseFloat(p) + parseFloat(c))
      this.squareMetersWindows = (parseFloat(squareMeters)).toFixed(2)

      this.emitWall()

    }
  }
})
</script>
