<template>
  <q-icon name="window" />
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'Window',
  props: {
    index: {
      type: Number
    }
  },
  data() {
    return {
      dimensions: {
        width: 2,
        height: 1.2
      }
    }
  },
  mounted() {
    this.sendWindow()
  },
  methods: {
    sendWindow() {
      this.$emit('updateAmountWindows', {
        index: this.index,
        squareMeters: this.dimensions.width * this.dimensions.height
      })
    }
  }
})
</script>
